body {
	background-color: beige;
}

h1 {
	font-family: futura;
	font-size: 40px;
	font-style: italic;
	color: navy;
	margin-top: 20px;
	margin-left: 50px;
}

h2 {
	font-family: futura;
	font-size: 20px;
	font-style: italic;
	color: navy;
	margin: auto;
}